<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team1.parkingapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    
    <permission
        android:name="team1.parkingapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    <uses-permission android:name="team1.parkingapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="team1.parkingapp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="team1.parkingapp.ForgotUsernameActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
        </activity>
        
         <activity
            android:name="team1.parkingapp.LoginActivity"
            android:label="@string/login_label" 
            android:screenOrientation="portrait" >
        </activity>
        
         <activity
            android:name="team1.parkingapp.UserRegistrationActivity"
            android:label="@string/user_registration_label"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="team1.parkingapp.ParkingSpotDetailActivity"
            android:label="@string/spot_detail_label" 
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="team1.parkingapp.AccountSettingsActivity"
            android:label="@string/account_settings_label"
            android:logo="@drawable/recdonger" 
            android:screenOrientation="portrait" >
        </activity>
        
        <activity android:name="com.google.android.apps.MapsActivity" android:screenOrientation="portrait">
		</activity>
         
        <meta-data 
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBiIU-pQCqceEBPZ-X4PYhEvfwXDZuA4M4" />
        
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
		
    </application>

</manifest>
